apiVersion: apps/v1
kind: Deployment
metadata:
  name: gguf
  labels: 
    app: gguf
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gguf
  template:
    metadata:
      labels:
        app: gguf
    spec:
      containers:
      - name: open-source-llm-gguf-api-server-gpu
        image: aiflowzone/instant-llm-gguf-url-deploy:v1.0
        #ports:
        #- containerPort: 8000
        env:
        - name: MODEL_URL
          value: "https://huggingface.co/TheBloke/zephyr-7B-beta-GGUF/resolve/main/zephyr-7b-beta.Q8_0.gguf"
        - name: N_GPU_LAYERS
          value: "35"
        - name: N_CTX
          value: "4096"
        resources:
          limits:
            nvidia.com/gpu: "1"
            memory: "45Gi"
            cpu: "10000m"


