apiVersion: apps/v1
kind: Deployment
metadata:
  name: gguf
  labels: 
    app: gguf
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gguf
  template:
    metadata:
      labels:
        app: gguf
    spec:
      volumes:
        - name: models-dir
          emptyDir: {}
      containers:
      - name: os-llm-gguf-api-server-gpu
        image: ttl.sh/debug-app-nathan:1h
        imagePullPolicy: Always
        volumeMounts:
            - mountPath: /home/onyxia/models
              subPath: models
              name: models-dir
        env:
        - name: MODEL_URL
          value: "https://huggingface.co/TheBloke/zephyr-7B-beta-GGUF/resolve/main/zephyr-7b-beta.Q8_0.gguf"
        - name: N_GPU_LAYERS
          value: "0"
        - name: N_CTX
          value: "4096"
        resources:
          limits:
            #nvidia.com/gpu: "1"
            memory: "30Gi"
            cpu: "10000m"
